body {
    background-image: url("http://enjoycss.com/bg-img/custom/17856-1l8go7k.png");
    font-family: chaparral pro;
}



.casingnav {
     margin-left: auto;
     margin-right: auto;
     width: 1000px;
 }

.topbar {
    height: 60px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #4a5c68;
    background-color: white;
    position: fixed;
    z-index: 99;
}

ul {
    list-style-type: none;
    margin: 0;
    position: fixed;
    text-transform: uppercase;
    font-size: 15px;
    z-index: 99;
}

li {
    float: right;
    background: transparent;
    margin-left: 4em;
    margin-right: 4em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
    z-index: 99;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

li:hover {
    border-bottom:3px solid #4a5c68;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.headimage {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 70px;
}
.navactive {
    border-bottom:3px solid #4a5c68;
}

.categories {
    width: 220px;
    background-color: #ffffff;
    height: 480px;
    margin-top: 70px;
    position: fixed;
    border-bottom: 2px;
    border-right: 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: #4a5c68;
}

.categoriefill {
    text-align: center;
    margin-top: 15px;
}


.categorybody {
    background-color: white;
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.profile {
    width: 220px;
    background-color: #ffffff;
    height: 220px;
    float: right;
    margin-top: 70px;
    border-bottom: 2px;
    border-left: 2px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #4a5c68;
}

.profileimg {
    height: 100px;
    width: 100px;
    border-radius: 40px;
}

.productsContainer {
    margin-left: 50px;
}

.product {
    width: 229.2px;
    margin: 15px;
    float: left;
}
.form{
     color: black;
     z-index: -1;
     position: center;
     margin-top: 10%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
 }

.productholder {
    width: 350px;
    height: 230px;
    border-color: black;
    border-style: solid;
    border-width: medium;
    color: white;
    float: left;
    margin: 20px;
}

.nameholder {
    width: 165px;
    height: 40px;
    background-color: #006992;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 2px;
}

.priceholder {
    width: 165px;
    height: 40px;
    background-color: #006992;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 2px;

}

.likeholder {
    width: 165px;
    height: 40px;
    background-color: #006992;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 2px;

}

.categoryholder {
    width: 165px;
    height: 40px;
    background-color: #006992;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 2px;

}

.descriptionholder {
    height: 34px;
    background-color: #23395d;
    text-align: center;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 6px;

}

.buttonholder {
    background-color: #006992;
    height: 30px;
    padding: 4px 22px;

}

.productbutton {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imgholder {
    float: right;
    height: 160px;
    width: 200px;
}

.productimage {
    height: 160px;
    width: 200px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    border-left: 2px;
    border-left-style: solid;
    border-left-color: black;
}

.categoryheader {
    margin-left: auto;
    margin-right: auto;
}
.locationlink {
    float: left;
    font-size: 16px;
    margin-top: 34px;
}
.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 7px 20px;
    /* border: 1px solid #018dc4; */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 16px Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #5c5d5e;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    /* text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ; */
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    width: 100px;
}
/* THIS IS FOR THE USER ADMIN PAGE*/
.adminUserTd{
    border: solid;
    border-color: black;
    border-width: 2.5px;
}

#admin_error{
    color:red;
    font-size:45px;
    text-align: center;
    text-decoration: underline;

}

#adminTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color: black;
    border-width: 2.5px;

}

#userAdminHeader{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
.adminLinks {
    text-align: center;
}

.button1 {
     display: inline-block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     cursor: pointer;
     /* border: 1px solid #018dc4; */
     -webkit-border-radius: 3px;
     border-radius: 3px;
     font: 12px Arial, Helvetica, sans-serif;
     color: rgba(255,255,255,0.9);
     -o-text-overflow: clip;
     text-overflow: clip;
     background: #5c5d5e;
     -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
     box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
     /* text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ; */
     -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
     -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
     -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
     transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
     float: right;
    border-color: #5c5d5e;
 }
.button2 {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    /* border: 1px solid #018dc4; */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: 12px Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #5c5d5e;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    /* text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ; */
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    float: left;
    border-color: #5c5d5e;
}

video {
    background-color: white;

}