body {
    background-image: url("wov.png");
}
ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
    position: fixed;
    text-transform: uppercase;
    font-size: 15px;
    
}

li {
    float: right;
    background: transparent;
    margin-left: 4em;
    margin-right: 4em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2em;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

li:hover {
    border-bottom:3px solid #4a5c68;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.topbar {
    height: 60px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #4a5c68;
    background-color: white;
    position: fixed;
}

.headimage {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 70px;
}

.form{
    color: black;
    z-index: -1;
    position: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.productsContainer {
    width: 90%;
}

.product {
    width: 229.2px;
    margin: 15px;
    float: left;
}

.categories {
    width: 220px;
    background-color: #ffffff;
    height: 400px;
    margin-top: 70px;
    position: fixed;
}

.profile {
    width: 220px;
    background-color: #ffffff;
    height: 220px;
    float: right;
    margin-top: 70px;
}

.casingnav {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
